In [3]:
import pandas as pd

In [4]:
csv_path = "raw_data/students_complete.csv"

students_df = pd.read_csv(csv_path)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
student_counts = students_df["Student ID"].count()
student_counts
#student_counts = students_df["Student ID"].value_counts()
#student_counts.sum()

39170

In [6]:
average_math_score = students_df["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
average_reading_score = students_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
passing_math = students_df[(students_df['math_score']>70)].count()["name"]
percent_passing_math = passing_math/student_counts
percent_passing_math
#passing_math = students_df['math_score'] > 70
#passing_math/39170

0.7239213683941792

In [9]:
passing_reading = students_df[(students_df['reading_score']>70)].count()["name"]
percent_passing_reading = passing_reading/student_counts
percent_passing_reading

0.8297166198621394

In [11]:
average = (percent_passing_reading + percent_passing_math)/2
average

0.77681899412815936

In [13]:
import pandas as pd

In [14]:
csv_path_1 = "raw_data/schools_complete.csv"

schools_df = pd.read_csv(csv_path_1)
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [15]:
school_counts = schools_df["School ID"].count()
school_counts
#school_counts = (schools_df["School ID"].unique())
#school_counts

15

In [16]:
school_budget = (schools_df["budget"].sum())
school_budget

24649428

In [17]:
student_summary_df = pd.DataFrame({"Total Budget": [school_budget],
                                   "Total Students": [student_counts],
                                   "% Passing Math": [percent_passing_math],
                                    "% Passing Reading": [percent_passing_reading],
                                   "Total Schools": [school_counts],
                                   "Average Math Score": [average_math_score],
                                   "Average Reading Score": [average_reading_score],
                                   "Overall Passing Rate" : [average]
                                     })
student_summary_df.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,0.723921,0.829717,78.985371,81.87784,0.776819,24649428,15,39170

In [67]:
schools_df["name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [68]:
Huang_df = schools_df.loc[schools_df["name"] == "Huang High School",:]
Huang_df.head()

   School ID               name      type  size   budget
0          0  Huang High School  District  2917  1910635